<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">	
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" dependency-check="none">
        <property name="location">
            <value>classpath:coral.properties</value>
        </property>
    </bean>
	

	<bean id="myTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>

	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor" dependency-check="none">
		<property name="transactionManager">
			<ref bean="myTransactionManager"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>


	<bean id="autoProxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator" dependency-check="none">
		<property name="proxyTargetClass">
			<value>true</value>
		</property>
		<property name="beanNames">
			<list>

				<!-- TODOS OS servicos DEVEM ESTAR LISTADOS AQUI !!! -->
				<value>tiddlerService</value>
					 
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
	
    <!-- services -->
	<bean id="tiddlerService" class="br.com.seatecnologia.coral.service.TiddlerService" />
	
    <!-- daos -->
	<bean id="tiddlerDAO" class="br.com.seatecnologia.coral.dao.TiddlerDAO" />
	
</beans>
